@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #575757;
  --dark-color-b: #1cb8a9;
  --light-color: #e3fff8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-display: swap;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn1 {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* Chat Page */

.chat-container {
  overflow: hidden;
}

.chat-header {
  background: white;
  color: rgb(87, 87, 87);
  padding: 0 1rem;
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  min-height: 92vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;

  margin: 0;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar ul li {
  padding: 5px 0;
}
.chat-upperbar {
  display: none;
}
.chat-box {
  width: 100%;
}
.chat-messages {
  padding: 30px;
  width: 100%;
  max-height: 85vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.chat-messages .message-contaniner {
  max-width: 70%;
}

.chat-messages .message {
  padding: 0.4rem 0.8rem;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.chat-messages .message .text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.message-name-tag {
  color: var(--dark-color-a);
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.3rem;
}

.message-align-self {
  display: flex;
  float: right;
}
.message-align-bot {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
.message-align-others {
  display: flex;
  float: left;
}

.message-align-self .message {
  background-color: #c3fff0;
}
.message-align-bot .message {
  background-color: var(--dark-color-a);
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
}
.message-align-others .message {
  background-color: var(--light-color);
}

.chat-messages .message .meta {
  padding-left: 1rem;
  align-self: flex-end;
  font-size: 0.7rem;
  font-weight: bold;
  color: #777;
  opacity: 0.7;
  display: inline;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: #99f7ef;
  position: fixed;
  bottom: 0;
  width: 75vw;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 7px 15px;

  flex: 1;
  border: none;
  background: var(--light-color);
  border-radius: 1.5rem;
}
.chat-form-container input[type="text"] :focus {
  outline: 0;
}
.chat-form-btn {
  cursor: pointer;
  margin-left: 1rem;
  padding: 10px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border-radius: 50%;
  border: 0;
  font-size: 17px;
}
.chat-box {
  margin: 0;
}

.logo2 {
  margin-left: -1rem;
  height: 180px;
}
.logo1 {
  height: 63px;
}
/* Join Page */
.join-container {
  max-width: 500px;
  color: #fff;
  margin: 1rem;
  min-width: 400px;
}
.join-container-align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control1 {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  border: #777;
  border-radius: 0.5rem;
}

/* .join-main select {
  font-size: 16px;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  border: #777;
  border-radius: 0.5rem;
}
 */
.join-main .btn1 {
  margin-top: 20px;
  width: 100%;
  border-radius: 1.5rem;
}
.chat-header h3 {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .chat-main {
    display: block;
    min-height: 70vh;
  }

  .chat-sidebar {
    display: none;
  }
  .chat-messages {
    max-height: 65vh;
  }
  .chat-form-container {
    width: 100vw;
  }
  .chat-header h3 {
    font-size: 1.7rem;
  }
  .chat-header a {
    font-size: 0.9rem;
  }
  .chat-upperbar {
    background: var(--dark-color-b);
    color: #fff;
    padding: 1rem;
    min-height: 8vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chat-upperbar h5 {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  .chat-upperbar h6 {
    margin-left: -0.2rem;
  }

  .chat-upperbar ul li {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .join-container {
    max-width: 500px;
    color: #fff;
    margin: 1rem;
    min-width: 350px;
  }
  .logo2 {
    margin-top: -0.5rem;
    height: 130px;
  }
  .logo1 {
    height: 55px;
  }
  .chat-messages .message-contaniner {
    max-width: 80%;
  }
  .chat-messages .message-align-bot {
    max-width: 100%;
  }

  .chat-messages .message .meta {
    padding-left: 0.8rem;
  }
  .chat-messages {
    padding: 30px 20px;
  }
}
